/* // The rising sun animation
@keyframes moving {
    0% {
        fill: rgba(121, 26, 9, 1);
    }
    10% {
        fill: rgba(148, 25, 17, 1);
    }
    20% {
        fill: rgba(186, 24, 27, 1);
    }
    30% {
        fill: rgba(224, 142, 138, 1);
    }
    40% {
        fill: rgb(210, 214, 204);
    }
    50% {
        fill: rgb(245, 233, 218);
    }
    60% {
        fill: rgb(210, 214, 204);
    }
    70% {
        fill: rgba(224, 142, 138, 1);
    }
    80% {
        fill: rgba(186, 24, 27, 1);
    }
    90% {
        fill: rgba(148, 25, 17, 1);
    }
    100% {
        fill: rgba(121, 26, 9, 1);
    }
}

 */

@keyframes changeColor {
    0% {
        color: $bottom-sky-color;
    }
    100% {
        color: black;
    }
}