footer {
    margin-top: 2rem;
    background-image: linear-gradient($top-sky-color, $middle-sky-color);
    margin-left: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 200px;
    height: 200px;

    @include breakpoint(large) {
        width: 400px;
        height: 400px;
        margin-left: 40%;
      }
    
}

footer > a {
    display: none;
}