html {
    margin: 0;
    padding: 0;
}

body {
<<<<<<< HEAD
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 700px; }
=======
    margin: 0 auto;
    max-width: 1000px;
}
>>>>>>> af780e7963458085ae4e2dd3f354e8f7778d142f

header {
    text-align: center;
}

@media (min-width: 50em) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 10% 70% 20%;
        grid-template-rows: 21% 79%;
        grid-gap: 2em;
    }
    .intro {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .main {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .sidebar {
        grid-column: 3/4;
    }
}

<<<<<<< HEAD
  .intro {
    grid-column: 2/3;
    grid-row: 1/2; }

  .main {
    grid-column: 2/3;
    grid-row: 2/3; }

  /*
  .sidebar {
      grid-column: 3/4;
  }
  */ }
=======
>>>>>>> af780e7963458085ae4e2dd3f354e8f7778d142f
html {
    background-image: linear-gradient(#842225, #be2225, #842225);
}

body {
<<<<<<< HEAD
  background-image: url("assets/red-backdrop-small.png"), linear-gradient(#F1D7A7, #f8ebd3, #FCF7ED);
  background-repeat: no-repeat;
  background-position: center bottom; }
  @media (min-width: 950px) {
    body {
      background-image: url("assets/red-backdrop-medium.png"), linear-gradient(#F1D7A7, #f8ebd3, #FCF7ED); } }
  @media (min-width: 1700px) {
    body {
      background-image: url("assets/red-backdrop-large-cropped.png"), linear-gradient(#F1D7A7, #f8ebd3, #FCF7ED); } }

.sidebar {
  background-color: #F1D7A7;
  position: absolute;
  width: 350px;
  height: 0px;
  /*
  left: 0%;
  top: 340%;
  */
  margin-top: 50px;
  padding-bottom: 400px;
  margin-left: 0%;
  border-radius: 50%; }

ul {
  list-style-type: none; }

.sidebar > .wrapper {
  font-size: 0.65em;
  margin-left: 90px;
  margin-top: 70px; }

@media only screen and (min-width: 400px) {
  .sidebar {
    margin-left: 10%; } }
@media only screen and (min-width: 500px) {
  .sidebar {
    margin-left: 20%; } }
@media only screen and (min-width: 600px) {
  .sidebar {
    margin-left: 25%; } }
@keyframes moving {
  0% {
    fill: #791a09; }
  10% {
    fill: #941911; }
  20% {
    fill: #ba181b; }
  30% {
    fill: #e08e8a; }
  40% {
    fill: #d2d6cc; }
  50% {
    fill: #f5e9da; }
  60% {
    fill: #d2d6cc; }
  70% {
    fill: #e08e8a; }
  80% {
    fill: #ba181b; }
  90% {
    fill: #941911; }
  100% {
    fill: #791a09; } }
=======
    background-image: url("assets/red-backdrop-large-cropped.png"), linear-gradient(#F1D7A7, #f8ebd3, #FCF7ED);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.sidebar {
    background-image: url("assets/parchment.jpeg");
}


/* @keyframes moving {
    0% {
        fill: #791a09;
    }
    10% {
        fill: #941911;
    }
    20% {
        fill: #ba181b;
    }
    30% {
        fill: #e08e8a;
    }
    40% {
        fill: #d2d6cc;
    }
    50% {
        fill: #f5e9da;
    }
    60% {
        fill: #d2d6cc;
    }
    70% {
        fill: #e08e8a;
    }
    80% {
        fill: #ba181b;
    }
    90% {
        fill: #941911;
    }
    100% {
        fill: #791a09;
    }
}

>>>>>>> af780e7963458085ae4e2dd3f354e8f7778d142f
circle {
    animation: moving 40s linear infinite;
} */


/*# sourceMappingURL=style.css.map */