html {
    // Make the gradient sky background
    background-image: linear-gradient($top-sky-color, $middle-sky-color , $bottom-sky-color);
}

body {
    // Make the buildings
    background-image: url("assets/black-backdrop.png");
    background-repeat: no-repeat;
    // Make it stick
    background-attachment: fixed;
    background-position: center bottom;
    
}
