@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Cabin+Sketch&family=Coming+Soon&family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
$titles-typography: 'Akronim',
cursive;
$paragraph-typography: 'Raleway',
sans-serif;
$title-side-typography:'Cabin Sketch',
cursive;
$paragraph-side-typography: 'Coming Soon',
cursive;